body {
  font-family: sans-serif;
  color: #ffffff;
  /*background-color: #f1f1f1;*/
  font-size: x-large;
  margin: 0em;
  margin-top: 0em;
  background-color: #005d4c;
  height: max-content;
}

#backgroundimg {


  position: fixed;      /* stays behind even when scrolling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;

}

header {


  color: #ffffff;
  background-color: #005d4c;
  padding-top: 1rem;
  padding-bottom: 1rem;

  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);

}

#title {


  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 30%;

  
  border-style: solid;
  border-width: 4px;
  border-color: #c29d25;
  
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif

}



#conent {

    margin: 1em;
    display: flex;
    flex-direction: row;

}

h2 {

  margin-top: 0px;

}

.todo {

  color: white;

  border-radius: 5rem;

  margin: 1rem;
  padding: 3rem;

  background-color: rgba(249, 249, 249, 0.05);
  box-shadow:inset 0 0 5px rgba(255, 255, 255, 0.1);
  box-shadow:inset 0 0 20px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: solid 2px rgba(255, 255, 255, 0.2);
  
  box-shadow:0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);

  width: min-content;
  min-width: 20vw;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0%,      /* dark top */
    rgba(0,0,0,0) 5%,        /* start fully transparent middle */
    rgba(0,0,0,0) 95%,       /* end fully transparent middle */
    rgba(0,0,0,0.4) 100%     /* dark bottom */
  ), linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 0%,      /* dark top */
    rgba(0,0,0,0) 5%,        /* start fully transparent middle */
    rgba(0,0,0,0) 95%,       /* end fully transparent middle */
    rgba(0,0,0,0.4) 100%     /* dark bottom */
  ), linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.15) 5%,      /* dark top */
    rgba(0,0,0,0) 9%,        /* start fully transparent middle */
    rgba(0,0,0,0) 95%,       /* end fully transparent middle */
    rgba(0,0,0,0) 100%     /* dark bottom */
  );

}

footer {

  backdrop-filter: blur(4px);
  filter: brightness(70%);

  padding-top: auto;
  padding-bottom: max-content;

}


a {

  color: white;

}